<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Contacts
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <app-contact *ngFor="let contact of contacts" [contact]="contact"></app-contact>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon (click)="createContact('Franklin', 'Manao', '09760002784', 'batuken.manao@gmail.com')" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>